pipeline/PL_CONDITIONAL_FILTER.json
{
	"name": "PL_CONDITIONAL_FILTER",
	"properties": {
		"activities": [
			{
				"name": "Filter_CONDIONAL_DATA FROM SOURCE FILE",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(int(item().SIC_Code), 1110)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_SOURCE_DATA_TO_LOOKUP_FILTER",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy filter output to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_CONDIONAL_DATA FROM SOURCE FILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	}
}