pipeline/PL_FILTER_FOR_FILE_SEGREGATION.json
{
	"name": "PL_FILTER_FOR_FILE_SEGREGATION",
	"properties": {
		"activities": [
			{
				"name": "GET_METEDATA_FILE_SEGREGATION",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FILE_CHECK",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FILE_SEGREGATION_TO_FOLDER",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_CSV_FILE_SEGREGATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_METEDATA_FILE_SEGREGATION').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@last(split(item().name,'.'))\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "csv",
										"activities": [
											{
												"name": "Copy CSV TO ADLS GEN2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CSV_SOURCE",
														"type": "DatasetReference",
														"parameters": {
															"sourcefile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_RECEIVE_CSV",
														"type": "DatasetReference",
														"parameters": {
															"ADLSFOLDER": {
																"value": "@'csvdata'",
																"type": "Expression"
															},
															"ADLSFILENAME": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "DeleteCSVFile",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy CSV TO ADLS GEN2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_BLOB_CSV_SOURCE",
														"type": "DatasetReference",
														"parameters": {
															"sourcefile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "LS_BLOB_CSV_SOURCE",
															"type": "LinkedServiceReference"
														},
														"path": "inputcsv"
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									},
									{
										"value": "txt",
										"activities": [
											{
												"name": "Copy TEXT TO ADLS GEN2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_TEXT_SOURCE",
														"type": "DatasetReference",
														"parameters": {
															"sourcefile": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TEXT_SINK_ADLS",
														"type": "DatasetReference",
														"parameters": {
															"ADLSFOLDER": {
																"value": "@'textdata'",
																"type": "Expression"
															},
															"ADLSFILENAME": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "DeleteTextFile",
												"description": "Delete text Input from Inputcsv Container in BLOB.",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy TEXT TO ADLS GEN2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_BLOB_TEXT_SOURCE",
														"type": "DatasetReference",
														"parameters": {
															"sourcefile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "LS_BLOB_TEXT_SOURCE",
															"type": "LinkedServiceReference"
														},
														"path": "inputcsv"
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FILTER_CSV_FILE_SEGREGATION",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET_METEDATA_FILE_SEGREGATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_METEDATA_FILE_SEGREGATION').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(\nequals(last(split(item().name,'.')),'csv'),\nequals(last(split(item().name,'.')),'txt')\n)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}